<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Express To Do App</title>
  </head>
  <body>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <ul class="todo-list">
                <li>
                  <input type="text">
                  <input type="checkbox">
                  <label class="strikethrough"></label>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </body>
</html>
